<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <!--External CSS-->
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/5f58663a3c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans&display=swap"
        rel="stylesheet">

</head>
<body>
