<nav>
    <a href="/"><!--not open in a new tab-->
        <img src="/images/CodeSquad-Comics-logo.png" alt="CodeSquad Comics logo">
    </a>
    <div class="container-heater">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/login">LOGIN</a>
    </div>

    <a class="nav-bar">
        <i class="fa-solid fa-bars fa-2x"></i>
    </a>
</nav>
