<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

    <div class="body-square">
        <h1 class="body-h1">ABOUT CODESQUAD COMICS</h1>
            <p>CodeSquad Comics is a collection of graphic novels read by Wei Cheng. Copyrighted images are used for review purposes only. Meta information about this collection can be found below. A detailed list of all the graphic novels in this collection can be found on the homepage. Additional details about each comic book, including the author, genre, number of pages, and a brief synopsis, can be found by navigating to the homepage and clicking the image of the book cover or the Details link for the desired graphic novel.</p>

        <h2 class="body-h2">COLLECTION DETAILS</h2>
        <div  class="collection-details">
            <ul>
                <li>Total comic books: 12</li>
                <li>Latest additions: 12</li>
                <li>5-star ratings: 5</li>
                <li>Publishers: 9</li>
            </ul>
        </div>
    </div>

<%- include('../partials/footer') -%>
