<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

    <div class="body-square">
        <h1 class="body-h1">ADMIN PAGE</h1>

         <div class="button-create">
            <a href="/admin-console/create-book">
              <button class="button-yellow" type="submit">ADD NEW COMIC</button>
            </a>
        </div>

        <table class="table-admin">
            <thead>
                <tr>
                    <th>COMIC TITLE</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Batman: The Dark Knight Returns</td>
                    <td><button class="button-edit" type="button">EDIT</button></td>
                    <td><button class="button-yellow" type="button">DELETE</button></td>
                </tr>
                <tr>
                    <td>Black Panther: A Nation Under Our Feet Book 1</td>
                    <td><button class="button-edit" type="button">EDIT</button></td>
                    <td><button class="button-yellow" type="button">DELETE</button></td>
                </tr>
                <tr>
                    <td>Fun Home: A Family Tragicomic</td>
                    <td><button class="button-edit" type="button">EDIT</button></td>
                    <td><button class="button-yellow" type="button">DELETE</button></td>
                </tr>
                <tr>
                    <td>Hunter X Hunter Vol. 1</td>
                    <td><button class="button-edit" type="button">EDIT</button></td>
                    <td><button class="button-yellow" type="button">DELETE</button></td>
                </tr>
                <tr>
                    <td>Lumberjanes Vol: 1</td>
                    <td><button class="button-edit" type="button">EDIT</button></td>
                    <td><button class="button-yellow" type="button">DELETE</button></td>
                </tr>
                <tr>
                    <td>March: Book One</td>
                    <td><button class="button-edit" type="button">EDIT</button></td>
                    <td><button class="button-yellow" type="button">DELETE</button></td>
                </tr>
                <tr>
                    <td>One Piece, Vol. 1: Romance Dawn</td>
                    <td><button class="button-edit" type="button">EDIT</button></td>
                    <td><button class="button-yellow" type="button">DELETE</button></td>
                </tr>
                <tr>
                    <td>Parable of the Sower</td>
                    <td><button class="button-edit" type="button">EDIT</button></td>
                    <td><button class="button-yellow" type="button">DELETE</button></td>
                </tr>
                <tr>
                    <td>Queer: A Graphic History</td>
                    <td><button class="button-edit" type="button">EDIT</button></td>
                    <td><button class="button-yellow" type="button">DELETE</button></td>
                </tr>
                <tr>
                    <td>The Walking Dead, Vol. 1: Days Gone Bye</td>
                    <td><button class="button-edit" type="button">EDIT</button></td>
                    <td><button class="button-yellow" type="button">DELETE</button></td>
                </tr>
                <tr>
                    <td>Wake: The Hidden History of Women-Led Slave Revolts</td>
                    <td><button class="button-edit" type="button">EDIT</button></td>
                    <td><button class="button-yellow" type="button">DELETE</button></td>
                </tr>
                <tr>
                    <td>Watchemen</td>
                    <td><button class="button-edit" type="button">EDIT</button></td>
                    <td><button class="button-yellow" type="button">DELETE</button></td>
                </tr>
            </tbody>
        </table>
    </div>

<%- include('../partials/footer') -%>
