<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

    <div class="body-square body-create">
        <h1 class="body-h1">LOGIN</h1>
        <div class="form-content">
            <form action="#" autocomplete="off">
                <label for="emailAddress">Email address:</label>
                <input type="text" id="emailAddress" placeholder="Email" name="emailAddress"><br>
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Password" name="password"><br>
                <div class="button-create"><button class="button-yellow" type="submit">Submit</button></div>
            </form>
        </div>
    </div>

<%- include('../partials/footer') -%>
