<%- include('../partials/head') -%> <%- include('../partials/navbar') -%>

<div class="body-square body-create">
  <h1 class="body-h1">Register</h1>
  <div class="form-content">
    <form action="#" autocomplete="off">
      <label for="emailAddress">Email address:</label>
      <input
        type="text"
        id="emailAddress"
        placeholder="Email"
        name="emailAddress"
        required
      /><br />
      <label for="password">Password:</label>
      <input
        type="text"
        id="password"
        placeholder="Password"
        name="password"
        minlength="10"
        required
      /><br />
      <div class="button-create">
        <button class="button-yellow" type="submit">Submit</button>
      </div>
      <%- include('../partials/google-auth') -%>
    </form>
  </div>
</div>

<%- include('../partials/footer') -%>
