body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    background-image: linear-gradient(var(--white), var(--teal));
    /* height: 100%; */
    font-size: 1.4rem; /* homework-6 change of styling*/
}

* {
    box-sizing: border-box;
}

/* set variables */
:root {
    --teal: #006B6B;
    --light-teal: #009E9E;
    --yellow: #FCCF14;
    --blue: #063C5E;
    --grey: #C2C2C2;
    --white: #FFFFFF;
}

/* navbar styling */
nav {
    background-color: var(--blue);
    width: 100%;
    /* height: 220px; */
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container-heater {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Fredericka the Great', Times, serif; /* homework-6 change of styling*/
}

.container-heater a {
    padding: 0 5px;
    text-decoration: none;
}

nav img {
    width: 300px;
    margin: 30px 20px;
}

.container-heater a:link,
.container-heater a:visited {
    text-decoration: none;
    color: var(--white);
}

.container-heater a:hover {
    color: var(--yellow);
    font-weight: bold;
}

.container-heater a:active {
    color: var(--blue);
    font-weight: bold;
    background-color: var(--yellow);
}

footer {
    background-color: var(--blue);
    width: 100%;
    /* height: 230px; */
    color: var(--white);
    border-top: solid var(--yellow) 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding:50px 5px;
    font-family: 'Fredericka the Great', Times, serif; /* homework-6 change of styling*/
}

footer h3 {
    color: var(--yellow);
    /* padding: 0 5px; */
    text-decoration: none;
    margin-top: auto;
}

footer img {
    width: 150px;
    height: auto;
}

.container-footer {
    padding: 10px 10px;
}

footer a:link,
footer a:visited {
    text-decoration: none;
    color: var(--white);
}

footer a:hover {
    color: var(--yellow);
    font-weight: bold;
}

footer a:active {
    color: var(--blue);
    font-weight: bold;
    background-color: var(--yellow);
}

footer .follow-us {
    display: flex;
    justify-content: space-between;/* homework-6 styling change*/
}



.content-blut-underline-font {
    font-style: underline;
    font-weight: bold;
    color: var(--blue);
    text-decoration: underline;
}

.content-italic-font {
    font-style: italic;
}

/* body container styling */
.body-square {
    background-color: var(--white);
    padding: 50px;
    width: 80%;
    border-style: solid;
    border-width: 5px;
    border-color: var(--blue);
    margin: 80px auto;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; /* homework-6 styling change*/
}

.body-h1,
.body-h2 {
    color: var(--blue);
    text-align: center;
    font-family: 'Fredericka the Great', Times, serif; /* homework-6 change of styling*/
}

.body-square p {
    margin: 70px 10px;
}

.body-h2 {
    margin-top: 80px;
}

/* about page styling */
.collection-details {
    display: flex;
    justify-content: center;
}

/* admin page styling */
.table-admin {
    border-collapse: collapse;
    margin: 50px auto;
    border: 2px solid black;
}

.table-admin th {
    background-color: var(--grey);
}

.table-admin tr:nth-child(even) {
    background-color: var(--grey);
}

.table-admin td,
.table-admin th {
    border: 2px solid black;
    padding: 10px 5px;
    font-size: 1rem;
}

table {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif ; /* homework-6 styling change*/
}

.button-yellow {
    background-color: var(--yellow);
    padding: 5px 5px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;  /* homework-6 styling change*/
}

.button-edit {
    background-color: var(--blue);
    color: var(--white);
    padding: 5px 19px; /* homework-6 styling change*/
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;  /* homework-6 styling change*/
}

button:hover {
    background-color: var(--grey);
}

/* create page styling */
.body-create {
    text-align: right;
}

.body-square input[type=text],
.body-square input[type=number],
.body-square select,
.body-square textarea{
    width: 350px;
    padding: 4px;
    margin: 13px 3px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; /* homework-6 styling change*/
}

.body-square textarea {
    resize: none;
    height: 150px;
    display: inline-block;
}

.form-content {
    display: flex;
    justify-content: center;
}

.button-create {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

label[for=synopsis] {
    vertical-align: top;
}

/* index page */
.body-square img {
    width: 200px;
}

.details a:link,
.details a:visited {
    text-decoration: none;
    color: var(--blue);
}

.details a:hover {
    color: var(--teal);
    font-weight: bold;
}

.details a:active {
    color: var(--blue);
    font-weight: bold;
    background-color: var(--yellow);
}

.container-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:fit-content;
    text-align: center;
    align-items: flex-start;
}
.container-details p {
    width:230px;
    margin: auto;
}

.container-details img {
    margin-bottom: 30px;
}

.index-details {
    padding: 10px 10px;
}

/* login page */
.button-login {
    margin-right: 50%;
    padding: 7px 20px;
}

.body-login {
    text-align: right;
    /* font-size: larger; */
}

.body-square input[type=text],
.body-square input[type=password]
{
    width: 350px;
    padding: 4px;
    margin: 13px 3px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; /* homework-6 styling change*/
}

/* Target mobile screen */
@media screen and (min-width: 320px) and (max-width: 768px) {
    body {
        font-size: 1rem;
    }

    .container-footer-create{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .container-footer {
        padding-bottom: 60px;
    }

    .container-heater {
        display: none;
    }

    .body-h1,
    .body-h2 {
        font-size: 1.2rem;
        }

    .form-content {
        text-align: left;

    }
    .body-square input[type=text],
    .body-square input[type=number],
    .body-square select,
    .body-square textarea {
        width: 300px;
    }

    .body-square input[type=text],
    .body-square input[type=password] {
        width: 250px;
    }

    .nav-bar {
        position: absolute; /* homework-7 */
        top: 50px;
        right: 50px;
    }

    /* comic-detail page styling */
    .card {
        width: min-content; /* homework-6 change of styling*/
        margin: 100px auto;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif; /* homework-6 styling change*/
    }

    .card-top {
        background-color: var(--blue);
        border-radius: 40px 40px 0 0;
        padding: 30px;
        border-top: solid var(--yellow) 8px;
        border-right: solid var(--yellow) 8px;
        border-left: solid var(--yellow) 8px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        width: 100%;
    }

    .card-photo {
        width: 400px;
        border: solid var(--white) 5px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        margin: 30px auto;
    }

    .card-label {
        font-weight: bold;
        color: var(--yellow);
        text-align: center;
        font-family: 'Fredericka the Great', Times, serif; /* homework-6 change of styling*/
    }

    .card-bottom {
        padding: 20px 50px;
        background-color: var(--white);
        border: solid var(--yellow) 8px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

}

/* Target tablet screen sizes */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
            font-size: 1rem;
        }

    .container-heater {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: right;
        margin: 25px;
    }

    .container-heater a {
        padding: 5px;
    }

    .body-h1,
    .body-h2 {
        font-size: 1.5rem;
    }

    .body-square input[type=text],
    .body-square input[type=number],
    .body-square input[type=password],
    .body-square select,
    .body-square textarea {
        width: 300px;
    }

    label[for=emailAddress],
    label[for=password] {
        padding-right: 300px;
        display: inline-flex;
    }

    /* homework-7 */
    .container-heater {
        display: none;
    }

    .nav-bar {
        position: absolute;
        /* homework-7 */
        top: 50px;
        right: 50px;
    }

    /* comic-detail page styling */
    .card {
        width: min-content;
        /* homework-6 change of styling*/
        margin: 100px auto;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        /* homework-6 styling change*/
    }

    .card-top {
        background-color: var(--blue);
        border-radius: 40px 40px 0 0;
        padding: 30px;
        border-top: solid var(--yellow) 8px;
        border-right: solid var(--yellow) 8px;
        border-left: solid var(--yellow) 8px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        width: 100%;
    }

    .card-photo {
        width: 400px;
        border: solid var(--white) 5px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        margin: 30px auto;
    }

    .card-label {
        font-weight: bold;
        color: var(--yellow);
        text-align: center;
        font-family: 'Fredericka the Great', Times, serif;
        /* homework-6 change of styling*/
    }

    .card-bottom {
        padding: 20px 50px;
        background-color: var(--white);
        border: solid var(--yellow) 8px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

/* homework-7 */
@media screen and (min-width: 1024px) {
    .nav-bar {
        display: none;
    }

    /* comic-detail page styling */
    .card {
        width: min-content;
        /* homework-6 change of styling*/
        margin: 100px auto;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        /* homework-6 styling change*/
        display: flex;

    }

    .card-top {
        background-color: var(--blue);
        /* border-radius: 40px 40px 0 0; */
        padding: 30px;
        border-top: solid var(--yellow) 8px;
        border-bottom: solid var(--yellow) 8px;
        border-left: solid var(--yellow) 8px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        /* width: 100%; */
    }

    .card-photo {
        width: 400px;
        border: solid var(--white) 5px;
        border-radius: 50px;
        margin: 20px auto;
    }

    .card-label {
        font-weight: bold;
        color: var(--yellow);
        text-align: center;
        font-family: 'Fredericka the Great', Times, serif;
        /* homework-6 change of styling*/
    }

    .card-bottom {
        padding: 20px 50px;
        background-color: var(--white);
        border-top: solid var(--yellow) 8px;
        border-bottom: solid var(--yellow) 8px;
        border-right: solid var(--yellow) 8px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        width: 600px;
    }
}

/* smartphones: 320 - 480
   ipads: 481 - 768
   desktop: 769 - 1024 */
